.img {
  flex-grow: 1;
  flex-basis: 300px;
  min-width: 0;
  height: auto;
  object-fit: cover;
}

.social {
  flex-grow: 1;
  flex-basis: 300px;
  height: auto;
  padding: 20px;
  background-color: #f8de22;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.socialBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.socialItem {
  flex-grow: 1;
  margin: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.circleSocial {
  border-radius: 60px;
  max-width: 50px;
  max-height: 50px;
  padding: 15px;
  background-color: white;
  background-color: var(--color);
  transition: background-color 0.7s ease, transform 0.3s ease;
}

.circleSocial:hover {
  cursor: pointer;
  animation: flicker 1s infinite alternate;
  transform: scale(1.5);
}

@keyframes flicker {
  0% {
    box-shadow: 0 0 10px var(--color);
  }
  100% {
    box-shadow: 0 0 40px var(--color);
  }
}
