.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.coverContainer {
  position: relative;
  height: 668px;
  background-color: #dd1525;
}

.cover {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* max-width: 1400px; */
  object-fit: cover;
}

.coverContent {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnStyle {
  position: relative;
  color: #f9f54b;
  cursor: pointer;
  padding: 10px;
  border: 2px solid #f9f54b;
  background: rgba(0, 0, 0, 0.763);
  width: 230px;
  font-size: 16px;
  box-shadow: inset 0px 0px 0.5rem 0px #f9f54b, 0px 0px 0.5rem 0px #f9f54b;
  animation: border-flicker 2s linear infinite;
}

.row {
  display: flex;
  flex-direction: row;
}

.textName {
  font-size: 50px;
  color: #FFF;
  font-weight: bold;
}

.text20 {
  font-size: 20px;
}

.infoContainer {
  position: relative;
  height: 300px;
  background-color: #000000;
  box-shadow: 0px 0px 50px 70px #000000;
}

.info {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
}

.textTitleYellow {
  font-size: 30px;
  font-weight: bold;
  color: #f9f54b;
}

.textBodyWhite {
  font-size: 18px;
  color: #fff;
}

.skillsContainer {
  position: relative;
  height: 700px;
  display: flex;
  background-color: rgb(0, 0, 0);
}

.skillsTab {
  color: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 25%;
  transform: translateX(-50%);
}

.listSkills {
  font-size: 20px;
  margin-top: 40px;
}

.listSkillsActive {
  font-size: 20px;
  margin-top: 40px;
  color: #f9f54b;
  width: 160px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 2px solid #f9f54b;
}

.skillsInfo {
  position: absolute;
  right: 0%;
  bottom: 30%;
  transform: translateX(-50%);
  height: 300px;
  width: 500px;
  background-color: #000000ee;
  border: 1px solid #f9f54b;
  box-shadow: inset 0px 0px 0.5rem 0px #f9f54b, 0px 0px 0.5rem 0px #f9f54b;
}


.cp2 {
  position: absolute;
  left: 60%;
  transform: translateX(-50%);
  margin-top: -50px;
  width: 700px;
  height: 700px;
  object-fit: cover;
}

.textTitleWhite {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}

.workExperience {
  position: relative;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  background-color: #dd1525;
}

.cp3{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1400px;
  height: 700px;
  bottom: 0px;
  object-fit: cover;

}

.textExperience{
  font-size: 50px;
  color: #FFF;
  font-weight: bold;
  height: 60px;
  text-align: center;
  z-index: 100;
  background-color: #dd1525;
}

.rowExperience {
  height: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.boxExperience{
  flex-grow: 1;
  flex-basis: 300px;
  margin: 10px;
  z-index: 100;
  background-color: #000000ee;
}

.education {
  height: 400px;
  background-color: rgb(75, 75, 75);
}

.socialOnline {
  height: 500px;
  background-color: rgb(255, 204, 0);
}

.contact {
  height: 400px;
  background-color: yellow;
}
